
body {
    background-color:EFB0A1 ;
    color:797D81 ;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: ;
    color: ;
    padding: 0px;
}

h1,h2 {
    color: transparent;
    font-weight: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-clip: text;
    background-image: url(https://images.unsplash.com/photo-1720794009949-035de161db6e?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTc1fHxmcnVpdCUyMGZhcm18ZW58MHx8MHx8fDA%3D);
}

nav {
    display: flex;
    gap: 10px;
    font-weight: bold;
}

