/* Body styling */

body {
    background-image: url(https://images.unsplash.com/photo-1490818387583-1baba5e638af?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjc0fHxmcnVpdHN8ZW58MHx8MHx8fDA%3D);
    background-repeat: no-repeat;    
    background-size: cover; 
    color: #1100a7;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}


h1,h2, h3{
    color: transparent;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-clip: text;
    background-image: url(https://images.unsplash.com/photo-1720794009949-035de161db6e?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTc1fHxmcnVpdCUyMGZhcm18ZW58MHx8MHx8fDA%3D);
}

nav {
    text-align: center;
}

nav a {
    color: #1B998B;
    margin: 0 10px;
    border-radius: 2px;
    font-weight: bold;
}

nav a:hover {
    background-color: #FFFD82;
}



div {
    text-align: center;
}

label {
    text-align: left;
}


footer {
    color: #1100a7;
    padding: 20px 10px 10px;
    margin-top: 30px;
    
}

.contact-info {
    margin: 5px;
    font-size: large;
    justify-content: center;
    display: flex;
}

#footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    padding-top: 10px;
    color: #04021a;
}


/* Form styling */

#form-container {
    width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #69DDFF;
}


form {
    display: flex;
    flex-direction: column;
}

 button {
    background-color: #D5C7BC

 }

 button:hover {
    background-color: #69DDFF;
 }

 /* Juice cards */
 
 #juice-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    
    
 }

 .juice-card {
    background-color: #69DDFF;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    box-shadow: var(--shadow);
    color: #27260b;
    
    
 }

 .juice-card button{
    margin-top: 10px;
    width: 100px;
 }

/* Response styling */

 @media (min-width: 600px) {
    nav {
        flex-direction: column;
    }

    #juice-list {
        flex-direction: column;
        align-items: center;
        
    }

    .juice-card {
        width: 100%;
    }

   
}
    

    
 